*{
    box-sizing: border-box;
}
html, body{
    padding: 0;
    margin: 0;
    color: black;
    background-color: #ffcb04;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 32px;
}
.searchBar{
    margin: 20px;
    padding: 10px;
    width: 300px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button{
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: #333;
    color: white;
    cursor: pointer;
    margin-bottom: 20px;
}
.order-btn-container{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.new-contact-btn-container{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
#card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    gap: 20px;
}
.contact-card{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: white;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 15px;
    width: 250px;
    text-align: center;
    font-family: 'Arial', sans-serif;
}
.contact-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}


.delete-btn{
    padding: 10px 16px;
    
    border-radius: 5px;
    border: none;
    background-color: #ff4d4d;
    color: white;
    cursor: pointer;
    align-self: center;
}
.modify-btn{
    padding: 10px 16px;
    border-radius: 5px;
    border: none;
    background-color: #4dffff;
    color: white;
    cursor: pointer;
    align-self: center;
    
}